@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.continer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.continer-description {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    text-align: center;
    margin-bottom: 50px;

}

.continer-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    box-sizing: border-box;
    width: 350px;
    height: 280px;
    border-radius: 7px;
    box-shadow: 5px 5px 20px 0px hsl(229, 6%, 66%);
    padding: 10px 30px;
}

.card:hover {
    cursor: pointer;
}

#supervisor {
    border-top: solid 5px hsl(180, 62%, 55%);
}

#team-buider {
    border-top: solid 5px hsl(0, 78%, 62%);
    margin-bottom: 30px;
}

#karma {
    border-top: solid 5px hsl(34, 97%, 64%);
}

#calculator {
    border-top: solid 5px hsl(212, 86%, 64%);
}

h1 {
    margin: 0px;
}

#tittle2 {
    color: hsl(234, 12%, 34%);
}

#title1 {
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}

h2 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

p {
    font-size: 0.9em;
    color: hsl(229, 6%, 66%);
}


span {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:1200px) {
    .card {
        width: 300px;
    }
}

@media (max-width:1024px) {
    h1 {
        font-size: 1.5em;
    }

    .continer {
        height: 100%;
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .continer-cards {
        flex-direction: column;
    }

    .continer-description {
        width: 350px;
    }

    .continer-description p {
        font-size: 0.9em;
        padding: 0 40px;
    }

    .card {
        width: 300px;
        height: 220px;
    }

    .card p {
        font-size: 0.8em;
        padding-right: 10px;
    }

    h2 {
        font-size: 1.3em;
    }

    span {
        margin-top: 20px;
    }
}